[submodule "libraries/Adafruit_Soundboard_library"]
	path = libraries/Adafruit_Soundboard_library
	url = https://github.com/adafruit/Adafruit_Soundboard_library.git
[submodule "libraries/ALib0"]
	path = libraries/ALib0
	url = https://github.com/DrDiettrich/ALib0.git
